body {
    margin: 0;
    padding: 0;
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    background-color: #071418;
}
input{
    text-align: center;
}
input:focus,select:focus{
    outline: none;
}
select{
    padding: 0.3vw;
}
.container_full {
    width: 100%;
    display: flex;
    font-size: 1vw;
    background-color: #071418;
}

.container_left {
    width: 20%;
    background-color: #071418;
}

.container_right {
    width: 80%;
    height: 100vh;
}

.header {
    width: 100%;
    height: 4.8vw;
    background-color: #D8D8D8;
    display: flex;
}
.log_out{
    color: darkred;
    padding-left: 65vw;
    padding-top: 1vw;
    display: block;
    width: 90%;
    text-align: center;
}
#icon_bars{
    width: 10%;
    font-size: 3vw;
    padding-left: 1.3vw;
    padding-top: 1vw;
    display: block;
}
#label_logout{
    display: block;
    color: darkred;
}
#logout{
    display: block;
    padding: 0.5vw;
}
.show_content{
    height: 85vh;
    background-image: url('View/images/background/dong-ho-parnis.jpg');   
}

.title{
    width: 100%;
    height: 2.4vw;
    color: white;
    margin-left: 1vw;
    margin-top: 2.4vw;
    font-size: 1.3vw;
    border-bottom: solid 0.1vh darkgrey;
}
#icon_watch{
    width: 10%;
    
}
#name_page{
    width: 50%;
    font-size: 1vw;
}
.welcome{
    color: white;
    margin-left: 1vw;
    margin-top: 1vh;
}
#welcome_admin{
    font-size: 1vw;
    font-style: oblique;
}
#name_admin{
    font-size: 1.1vw;
    color: darkorange;
}
.general{
    color: white;
    margin-left: 1vw;
    margin-top: 7vh;
}
.dropdown_home,.dropdown_manager{
    display: flex;
    margin-top: 2vh;
}
.dropdown_manager{
    margin-top: 1vh;
}
#lable_home{
    margin-left: 1vw;
    margin-right: 11vw;
}
#lable_manager{
    margin-left: 1vw;
    margin-right: 9.7vw;
}
#lable_select{
    color: darkorange;
}
#a_select{
    display: block;
    text-decoration: none;
    padding: 0.5vw;
    border-top: solid 0.1vw darkgray;
    color: white;
    margin-bottom: 0.1vw;
}
.dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: static;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    width: 15vw;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  table{
    margin: auto;
    margin-top: 1.2vw;
    border-collapse: collapse;
    background-color: #D8D8D8;
}
tr,td{
    border: solid 0.1vw dimgrey;
    text-align: center;
    
}
#btn_edit{
width: 1vw;
margin-left: 0.5vw;
margin-right: 0.5vw;
color: blue;
}
#btn_delete{
width: 1vw;
color: red;
} 

/* show_list_customer */
#label_manager_customer{
    color: black;
    border-bottom: solid 0.1vw darkgray;
    display: block;
    padding: 1vw;
    font-size: 2vw;
    font-weight: bold;
    
 }
 .tools_customer{
     display: flex;
     border-bottom: solid 0.1vw darkgray;
     padding:0 0 1vw 2vw;
 }
.list_customer{
    background-color: white;
    height: 100%;
    width: 100%;
    margin: auto;
    overflow: scroll;
    }
#table_list_customer{
    border: solid 0.1vw darkgrey;
    border-collapse: collapse;
    margin-bottom: 2vw;
    background-color: #D8D8D8;
    width: 97%;
    }
#td_list_customer{
    border: solid 0.1vw darkgrey;
    padding: 0.5vw;
    }
#th_list_customer{
    border: solid 0.1vw darkgrey;
    padding: 1vw;
    color: darkorange;
    font-weight: bold;
    background-color: dimgrey;
    }
#a_manager_customer{
        text-decoration: none;
        padding: 0 0.5vw;
    }
#img_list_customer{
    width: 5vw;
    }
#tb_customer_name{
    width: 12vw;
    border: solid 0.1vw darkgrey;
    padding: 0.5vw;
    }
/* Xóa khách hàng */
.delete_customer_cover{
    margin-left: 25vw;
}
#lable_delete_customer{
display: block;
padding: 0.5vw;
}
.btn_delete_customer{
    display: flex;
    margin-left: 2vw;
}
    
#confirm_delete{
    width: 8vw;
    padding: 0.5vw;
    color: white;
    background-color: green;
    
    }
#cancel_delete{
    width: 8vw;
    padding: 0.5vw;
    color: white;
    background-color: red;
    margin-left: 2vw;
    }
#confirm_delete:hover, #cancel_delete:hover{
    cursor: pointer;
    color: black;
    }
/* Sửa khách hàng */
.edit_customer_cover{
    margin-left: 25vw;
}
#lable_edit_customer{
display: block;
padding: 0.5vw;
}
.btn_edit_customer{
    display: flex;
    margin-left: 2vw;
}
    
#confirm_edit{
    width: 8vw;
    padding: 0.5vw;
    color: white;
    background-color: green;
    
    }
#cancel_edit{
    width: 8vw;
    padding: 0.5vw;
    color: white;
    background-color: red;
    margin-left: 2vw;
    }
#confirm_edit:hover, #cancel_edit:hover{
    cursor: pointer;
    color: black;
    }

/* Thêm nhân viên */
.add_employee{
    height: 85vh;
    background-color: white;
    font-size: 1vw;
  }
  #label_manager_employee{
     color: black;
     border-bottom: solid 0.1vw darkgray;
     display: block;
     padding: 1vw;
     font-size: 2vw;
     font-weight: bold;
     
  }
  .tools_employee{
      display: flex;
      border-bottom: solid 0.1vw darkgray;
      padding:0 0 1vw 1vw;
  }
  #a_manager_employee{
      text-decoration: none;
      padding: 0 0.5vw;
  }
  #label_add_employee{
    border-bottom: solid 0.1vw darkgray;
    display: block;
      padding: 1vw 0 1vw 1vw;
      font-size: 1.3vw;
  }
  #td_left_add_employee{
    width: 8vw;
    height: 2vw;
    padding: 0.2vh;
    color: darkred;
    font-weight: bold;
    background-color: #D8D8D8;
}
  #td_right_add_employee{
    width: 25vw;
    height: 2vw;
    padding: 0.2vh;
    display: flex;
    border: none;
    background-color: aliceblue;
}
#input_add_employee{
    width: 110%;
    margin: auto;
    text-align: center;
    border: none;
    background-color: aliceblue;
}
#input_add_employee:focus{
    outline: none;
}
#icon_add_employee{
    width: 10%;
    margin-top: 0.35vw;
    margin-right: 0;
}
#button_add_employee{
    width: 40%;
    margin: auto;
    color: white;
    background-color: darkorange;
    border: solid 0.1vw darkgray;
    box-shadow: 0.1vw 0.1vw dimgray;
}
#button_add_employee:hover{
    background-color: blue;
}
#possition_add_employee{
    width: 50%;
    margin: auto;
    padding: 0.2vw;
}
#possition_add_employee:focus{
    outline: none;
}
#lable_confirm{
    margin-left: 33vw;
    color: green;
}








/* show_list_employee */
#label_manager_employee{
    color: black;
    border-bottom: solid 0.1vw darkgray;
    display: block;
    padding: 1vw;
    font-size: 2vw;
    font-weight: bold;
    
 }
 .tools_employee{
     display: flex;
     border-bottom: solid 0.1vw darkgray;
     padding:0 0 1vw 2vw;
 }
.list_employee{
    background-color: white;
    height: 100%;
    width: 100%;
    margin: auto;
    overflow: scroll;
    }
#table_list_employee{
    border: solid 0.1vw darkgrey;
    border-collapse: collapse;
    margin-bottom: 2vw;
    background-color: #D8D8D8;
    width: 97%;
    }
#td_list_employee{
    border: solid 0.1vw darkgrey;
    padding: 0.5vw;
    }
#th_list_employee{
    border: solid 0.1vw darkgrey;
    padding: 1vw;
    color: darkorange;
    font-weight: bold;
    background-color: dimgrey;
    }
#a_manager_employee{
        text-decoration: none;
        padding: 0 0.5vw;
    }
#img_list_employee{
    width: 5vw;
    }
#tb_employee_name{
    width: 12vw;
    border: solid 0.1vw darkgrey;
    padding: 0.5vw;
    }
/* Xóa nhân viên */
.delete_employee_cover{
    margin-left: 25vw;
}
#lable_delete_employee{
display: block;
padding: 0.5vw;
}
.btn_delete_employee{
    display: flex;
    margin-left: 2vw;
}

 /* Chỉnh sửa nhân viên */
 .edit_employee{
    height: 85vh;
    background-color: white;
    font-size: 1vw;
    overflow: scroll;
  }
#table_edit_employee{
    border: solid 0.1vw darkgrey;
    border-collapse: collapse;
    margin-top: 2vw;
    margin-bottom: 2vw;
    background-color: #D8D8D8;
    width: 60%;
}
#td_edit_employee{
 border: solid 0.1vw darkgrey;
 padding: 0.5vw;
 text-align: center;
}
#th_edit_employee{
 border: solid 0.1vw darkgrey;
 padding: 1vw;
 color: darkorange;
 font-weight: bold;
 background-color: dimgrey;
 text-align: center;
}
#btn_update_employee{
    margin-left: 46vw;
    width: 15vw;
    padding: 0.5vw;
    color: white;
    background-color: darkorange;
}
#btn_update_employee:focus{
    outline: none;
}
#btn_update_employee:hover{
    cursor: pointer;
    background-color: blue;
}
#status_update_employee{
    display: block;
    color: red;
    margin-left: 44vw;
    padding: 0.5vw;
}



/* Thêm sản phẩm */
.add_product{
    height: 85vh;
    background-color: white;
    font-size: 1vw;
    overflow: scroll;
  }
  #label_manager_product{
     color: black;
     border-bottom: solid 0.1vw darkgray;
     display: block;
     padding: 1vw;
     font-size: 2vw;
     font-weight: bold;
     
  }
  .tools_product{
      display: flex;
      border-bottom: solid 0.1vw darkgray;
      padding:0 0 1vw 1vw;
  }
  #a_manager_product{
      text-decoration: none;
      padding: 0 0.5vw;
  }
  #label_add_product{
    border-bottom: solid 0.1vw darkgray;
    display: block;
      padding: 1vw 0 1vw 1vw;
      font-size: 1.3vw;
  }
  #td_left_add_product{
    width: 8vw;
    height: 2vw;
    padding: 0.2vh;
    color: darkred;
    font-weight: bold;
    background-color: #D8D8D8;
}
  #td_right_add_product{
    width: 25vw;
    height: 2vw;
    padding: 0.2vh;
    display: flex;
    border: none;
    background-color: aliceblue;
}
#input_add_product{
    width: 110%;
    margin: auto;
    text-align: center;
    border: none;
    background-color: aliceblue;
}
#input_add_product:focus{
    outline: none;
}
#icon_add_product{
    width: 10%;
    margin-top: 0.35vw;
    margin-right: 0;
}
#button_add_product{
    width: 12vw;
    padding: 0.3vw;
    margin-left: 37vw;
    color: white;
    background-color: darkorange;
    border: solid 0.1vw darkgray;
    box-shadow: 0.1vw 0.1vw dimgray;
    margin-bottom: 5vw;
}
#button_add_product:hover{
    background-color: blue;
}

#lable_confirm_product{
    margin-left: 35vw;
    color: red;
}

#select_line{
    width: 40%;
    margin: auto;
}
#file_image{
    margin: auto;
}
#hot_new_click{
    margin: auto;
}

/* show_list_product */
#label_manager_product{
    color: black;
    border-bottom: solid 0.1vw darkgray;
    display: block;
    padding: 1vw;
    font-size: 2vw;
    font-weight: bold;
    
 }
 .tools_product{
     display: flex;
     border-bottom: solid 0.1vw darkgray;
     padding:0 0 1vw 2vw;
 }
.list_product{
    background-color: white;
    height: 100%;
    width: 100%;
    margin: auto;
    overflow: scroll;
    }
#table_list_product{
    border: solid 0.1vw darkgrey;
    border-collapse: collapse;
    margin-bottom: 2vw;
    background-color: #D8D8D8;
    width: 97%;
    }
#td_list_product{
    border: solid 0.1vw darkgrey;
    padding: 0.5vw;
    }
#th_list_product{
    border: solid 0.1vw darkgrey;
    padding: 1vw;
    color: darkorange;
    font-weight: bold;
    background-color: dimgrey;
    }
#a_manager_product{
        text-decoration: none;
        padding: 0 0.5vw;
    }
#img_list_product{
    width: 5vw;
    }
#tb_product_name{
    width: 12vw;
    border: solid 0.1vw darkgrey;
    padding: 0.5vw;
    }
/* Xóa sản phẩm */
.delete_product_cover{
    margin-left: 25vw;
}
#lable_delete_product{
display: block;
padding: 0.5vw;
}
.btn_delete_product{
    display: flex;
    margin-left: 4vw;
}
/* Chỉnh sửa sản phẩm */
.edit_product{
    height: 85vh;
    background-color: white;
    font-size: 1vw;
    overflow: scroll;
  }
#table_edit_product{
    border: solid 0.1vw darkgrey;
    border-collapse: collapse;
    margin-top: 2vw;
    margin-bottom: 2vw;
    background-color: #D8D8D8;
    width: 60%;
}
#td_edit_product{
 border: solid 0.1vw darkgrey;
 padding: 0.5vw;
 text-align: center;
}
#th_edit_product{
 border: solid 0.1vw darkgrey;
 padding: 1vw;
 color: darkorange;
 font-weight: bold;
 background-color: dimgrey;
 text-align: center;
}
#btn_update_product{
    margin-left: 46vw;
    width: 15vw;
    padding: 0.5vw;
    color: white;
    background-color: darkorange;
}
#btn_update_product:focus{
    outline: none;
}
#btn_update_product:hover{
    cursor: pointer;
    background-color: blue;
}
#status_update_product{
    display: block;
    color: red;
    margin-left: 44vw;
    padding: 0.5vw;
}
