body {
    margin: 0;
    padding: 0;
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    background-color: #071418;
}

.container_full {
    width: 100%;
    display: flex;
    font-size: 1vw;
    background-color: #071418;
}

.container_left {
    width: 20%;
    background-color: #071418;
}

.container_right {
    width: 80%;
    height: 100vh;
}

.header {
    width: 100%;
    height: 4.8vw;
    background-color: #D8D8D8;
    display: flex;
}
.log_out{
    color: darkred;
    padding-left: 65vw;
    padding-top: 1vw;
    display: block;
    width: 90%;
    text-align: center;
}
#icon_bars{
    width: 10%;
    font-size: 3vw;
    padding-left: 1.3vw;
    padding-top: 1vw;
    display: block;
}
#label_logout{
    display: block;
    color: darkred;
}
#logout{
    display: block;
    padding: 0.5vw;
}
.show_content{
    height: 85vh;
    background-image: url('../../images/background/dong-ho-parnis.jpg');   
}

.title{
    width: 100%;
    height: 2.4vw;
    color: white;
    margin-left: 1vw;
    margin-top: 2.4vw;
    font-size: 1.3vw;
    border-bottom: solid 0.1vh darkgrey;
}
#icon_watch{
    width: 10%;
    
}
#name_page{
    width: 50%;
    font-size: 1vw;
}
.welcome{
    color: white;
    margin-left: 1vw;
    margin-top: 1vh;
}
#welcome_admin{
    font-size: 1vw;
    font-style: oblique;
}
#name_admin{
    font-size: 1.1vw;
    color: darkorange;
}
.general{
    color: white;
    margin-left: 1vw;
    margin-top: 7vh;
}
.dropdown_home,.dropdown_manager{
    display: flex;
    margin-top: 2vh;
}
.dropdown_manager{
    margin-top: 1vh;
}
#lable_home{
    margin-left: 1vw;
    margin-right: 11vw;
}
#lable_manager{
    margin-left: 1vw;
    margin-right: 9.7vw;
}
#lable_select{
    color: darkorange;
}
#a_select{
    display: block;
    text-decoration: none;
    padding: 0.5vw;
    border-top: solid 0.1vw darkgray;
    color: white;
    margin-bottom: 0.1vw;
}
.dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: static;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    width: 15vw;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  /* add_employee */
  .add_employee{
    height: 85vh;
    background-color: white;
    font-size: 1vw;
  }
  #label_manager_employee{
     color: black;
     border-bottom: solid 0.1vw darkgray;
     display: block;
     padding: 1vw;
     font-size: 2vw;
     font-weight: bold;
     
  }
  .tools_employee{
      display: flex;
      border-bottom: solid 0.1vw darkgray;
      padding:0 0 1vw 1vw;
  }
  #a_manager_employee{
      text-decoration: none;
      padding: 0 0.5vw;
  }
  #label_add_employee{
    border-bottom: solid 0.1vw darkgray;
    display: block;
      padding: 1vw 0 1vw 1vw;
      font-size: 1.3vw;
  }
   /* add_product */
   .add_product{
    height: 84vh;
    background-color: white;
    font-size: 1vw;
    overflow: scroll;
  }
  #label_manager_product{
     color: black;
     border-bottom: solid 0.1vw darkgray;
     display: block;
     padding: 1vw;
     font-size: 2vw;
     font-weight: bold;
     
  }
  .tools_product{
      display: flex;
      border-bottom: solid 0.1vw darkgray;
      padding:0 0 1vw 2vw;
  }
  #a_manager_product{
      text-decoration: none;
      padding: 0 0.5vw;
  }
  #label_add_product{
    border-bottom: solid 0.1vw darkgray;
    display: block;
      padding: 1vw 0 1vw 1vw;
      font-size: 1.3vw;
  }

  /* add_customer */
  .add_customer{
    height: 85vh;
    background-color: white;
    font-size: 1vw;
  }
  #label_manager_customer{
     color: black;
     border-bottom: solid 0.1vw darkgray;
     display: block;
     padding: 1vw;
     font-size: 2vw;
     font-weight: bold;
     
  }
  .tools_customer{
      display: flex;
      border-bottom: solid 0.1vw darkgray;
      padding:0 0 1vw 2vw;
  }
  #a_manager_customer{
      text-decoration: none;
      padding: 0 0.5vw;
  }
  #label_add_customer{
    border-bottom: solid 0.1vw darkgray;
    display: block;
      padding: 1vw 0 1vw 1vw;
      font-size: 1.3vw;
  }





table{
    margin: auto;
    margin-top: 1.2vw;
    border-collapse: collapse;
    background-color: #D8D8D8;
}
tr,td{
    border: solid 0.1vw dimgrey;
    text-align: center;
    
}
#td_left{
    width: 8vw;
    height: 2vw;
    padding: 0.2vh;
    color: darkred;
    font-weight: bold;
}
  #td_right{
    width: 25vw;
    height: 2vw;
    padding: 0.2vh;
    display: flex;
    border: none;
}
input{
    text-align: center;
    width: 23vw;
    border: none;
    background-color: #D8D8D8;
  }
  select{
    width: 13vw;
   margin: auto; 
    font-size: 1vw; 
    padding: 0.3vw;
    padding-left: 1vw;
    background-color: #D8D8D8;
  }
  #button_add{
    border: solid 0.1vw black;
    width: 10vw;
    margin-left: 7.5vw ;
    border-radius: 5vw;
    box-shadow: cadetblue 0.1vw 0.1vw;
    font-size: 1vw;
    color: white;
    background-color: blue;
  }
  #button_add:hover{
      cursor: pointer;
      color: white;
      font-weight: bold;
      background-color: darkorange;
  }
  input:focus,select:focus{
    outline: none;
  }
#icon_status{
    width: 2vw;
    margin-top: 0.5vw;
    
}
#lable_confirm{
    margin-left: 36vw;
    color: red;
}
#lable_notification{
    margin-left: 30vw;
    color: red;
}
/* show_list_employee */
.list_employee{
   background-color: white;
   height: 100%;
   margin: auto;
   overflow: scroll;
}
#table_list_employee{
   border: solid 0.1vw darkgrey;
   border-collapse: collapse;
   margin-bottom: 2vw;
   background-color: #D8D8D8;
   width: 97%;
}
#td_list_employee{
border: solid 0.1vw darkgrey;
padding: 0.5vw;
}
#th_list_employee{
border: solid 0.1vw darkgrey;
padding: 1vw;
color: darkorange;
font-weight: bold;
background-color: dimgrey;
}
/* show_list_product */
.list_product{
background-color: white;
height: 100%;
margin: auto;
overflow: scroll;
}
#table_list_product{
border: solid 0.1vw darkgrey;
border-collapse: collapse;
margin-bottom: 2vw;
background-color: #D8D8D8;
width: 97%;
}
#td_list_product{
border: solid 0.1vw darkgrey;
padding: 0.5vw;
}
#th_list_product{
border: solid 0.1vw darkgrey;
padding: 1vw;
color: darkorange;
font-weight: bold;
background-color: dimgrey;
}
#img_list_product{
width: 5vw;
}
#tb_product_name{
width: 12vw;
border: solid 0.1vw darkgrey;
padding: 0.5vw;
}

/* show_list_customer */
.list_customer{
background-color: white;
height: 100%;
margin: auto;
overflow: scroll;
}
#table_list_customer{
border: solid 0.1vw darkgrey;
border-collapse: collapse;
margin-bottom: 2vw;
background-color: #D8D8D8;
width: 97%;
}
#td_list_customer{
border: solid 0.1vw darkgrey;
padding: 0.5vw;
}
#th_list_customer{
border: solid 0.1vw darkgrey;
padding: 1vw;
color: darkorange;
font-weight: bold;
background-color: dimgrey;
}
#img_list_customer{
width: 5vw;
}
#tb_customer_name{
width: 12vw;
border: solid 0.1vw darkgrey;
padding: 0.5vw;
}

/* SỬA VÀ XÓA */
#btn_edit{
width: 1vw;
margin-left: 1vw;
margin-right: 0.5vw;
color: blue;
}
#btn_delete{
width: 1vw;
color: red;
}
.edit_delete{
display: flex;
text-align: center;
}




/* edit_employee */
.edit_employee{
height: 85vh;
background-color: white;
font-size: 1vw;
}
#table_edit_employee{
border: solid 0.1vw darkgrey;
border-collapse: collapse;
margin-top: 2vw;
margin-bottom: 2vw;
background-color: #D8D8D8;
width: 60%;
}
#td_edit_employee{
border: solid 0.1vw darkgrey;
padding: 0.5vw;
}
#th_edit_employee{
border: solid 0.1vw darkgrey;
padding: 1vw;
color: darkorange;
font-weight: bold;
background-color: dimgrey;
}
#btn_update_employee{
margin-left: 47vw;
width: 15vw;
padding: 0.5vw;
color: white;
background-color: darkorange;
}
#btn_update_employee:focus{
outline: none;
}
#btn_update_employee:hover{
cursor: pointer;
background-color: blue;
}
#error_update_employee{
display: block;
color: red;
margin-left: 47vw;
padding: 0.5vw;
}
/* Xóa nhân viên */
#lable_delete_employee{
margin-left: 30vw;
display: block;
padding: 0.5vw;
}
.btn_delete{
display: flex;
margin: auto;
}
#confirm_delete{
width: 8vw;
padding: 0.5vw;
color: white;
background-color: green;

}
#cancel_delete{
width: 8vw;
padding: 0.5vw;
color: white;
background-color: red;
margin-left: 2vw;

}
#confirm_delete:hover, #cancel_delete:hover{
cursor: pointer;
color: black;
}


/* edit_product */
.edit_product{
height: 85vh;
background-color: white;
font-size: 1vw;
overflow: scroll;
}
#table_edit_product{
border: solid 0.1vw darkgrey;
border-collapse: collapse;
margin-top: 2vw;
margin-bottom: 2vw;
background-color: #D8D8D8;
width: 80%;

}
#td_edit_product{
border: solid 0.1vw darkgrey;
padding: 0.5vw;
}
#th_edit_product{
border: solid 0.1vw darkgrey;
padding: 1vw;
color: darkorange;
font-weight: bold;
background-color: dimgrey;
}
#btn_update_product{
margin-left: 52vw;
width: 15vw;
padding: 0.5vw;
color: white;
background-color: darkorange;
}
#btn_update_product:focus{
outline: none;
}
#btn_update_product:hover{
cursor: pointer;
background-color: blue;
}
#error_update_product{
display: block;
color: red;
margin-left: 52vw;
padding: 0.5vw;
}

/* Xóa sản phẩm */
#lable_delete_product{
margin-left: 26vw;
display: block;
padding: 0.5vw;
}
/* Xóa khách hàng */
#lable_delete_customer{
margin-left: 29vw;
display: block;
padding: 0.5vw;
}